{% extends 'base.html' %}
{% load static %}


{% block content %}
<article class="car-detail-page">
    {% include 'car/hero.html' %}
    <section class="detail-body page-detail-body">
        {% include 'car/quick-specs.html' %}

        {% include 'car/spec-sheet.html' %}

        {% if car.colorfolder %}
            {% include 'car/color.html' %}
        {% endif %}

        {% include 'car/360.html' %}

        {% include 'car/car-blog.html' %}
    </section>
    {% include 'car/car_reviews.html' %}
</article>
{{ car|json_script:"current-car-data" }}
{% endblock %}

<script src="{% static 'js/color.js' %}"></script>