{% load static %}

<aside class="variant-compare-panel">
    <div class="panel-heading">
        <p class="eyebrow">Same car comparison</p>
        <h3>Compare variants</h3>
        <p>Select up to three variants of the {{ car.name }}.</p>
    </div>
    <table class="compare-table full-compare-table">
        <thead>

        </thead>
        <tbody>
            <!-- <tr>
                <th>Spec</th>
                <th>{{ car.name }}<span>Smart Petrol Manual</span></th>
                <th>{{ car.name }}<span>Smart Diesel Manual</span></th>
                <th>{{ car.name }}<span>Pure Petrol Automatic</span></th>
            </tr> -->
        </tbody>
    </table>
</aside>